.heading_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 160px;
    transform: translate(-50%, -50%) ;
    border: 2px solid white;
}

.heading_text {
    background-color: rgba(47,47,47,0.4);
    border: 2px solid white;
    height: 121px;
    margin: 6px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
    padding: 21px 70px 21px 70px;

}
