body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.font_righteous {
  font-family: 'Righteous', cursive;
}

.bg_black {
  background-color: #3c3c3c;
}

.bg_white {
  background-color: #ffffff;
}

.bg_yellow {
  background-color:  #ffa800;
}

.container  {
  width: 900px;
  margin: 0 auto;
}

header {
  padding: 10px 0;
  transition: all 300ms ease-in;
}